@model ELearningPlatform.Models.Course
@using static ELearningPlatform.Data.TempDataHelper
@{
    ViewData["Title"] = "CourseDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Course course = new Course();
    List<int> completedModule = new List<int>();
    IDictionary<int, string> InstructorName = new Dictionary<int, string>();
    if (TempData[TempdataKeyCourse] != null)
    {
        course = (Course)TempData[TempdataKeyCourse];
        TempData[TempdataKeyCourse] = null;
    }
    if(TempData[TempdataKeyCompletedModule] != null)
    {
        completedModule = (List<int>)TempData[TempdataKeyCompletedModule];
    }
    if(TempData[TempdataKeyModulesInstructor] != null)
    {
        InstructorName = (Dictionary<int, string>)TempData[TempdataKeyModulesInstructor];
    }
}

<div class="container mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="black-text" href="#">Courses</a>
            <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item active">Angular 5</li>
    </ol>
    <hr />
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-3">@course.Name</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid mb-3" src="@course.Ico" alt="Card image cap">
            <p>@course.Desc</p>
            @if ((bool)TempData[TempdataKeyIsEnrolled])
            {
                <button disabled type="button" class="btn btn-default btn-sm mb-3">Enroll</button>
                <p class="text-muted text-sm">You are currently enrolled in this course.</p>
            }
            else
            {
                <a href="Enroll?id=@course.Id"><button type="button" class="btn btn-default btn-sm mb-3">Enroll</button></a>
            }
        </div>
        <div class="col-md-8">
            <h6 class="mb-4">Course Modules</h6>
            <table class="table table-hover table-responsive-md">
                <tbody>
                    @foreach (Module module in (List<Module>)TempData[TempdataKeyModules])
                    {
                        <tr>
                            <td>
                                @if (completedModule.Exists(e => e == module.Id))
                                {
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                }
                                <a href="ModuleDetails?id=@module.Id">@module.Label</a>
                            </td>
                            <td class="text-right">@InstructorName[module.Id]</td>
                            <td class="text-right">@module.CreationDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
